#AboutMenu {
    list-style-image: url("chrome://yacybar/skin/yacy.gif");
}

#BlacklistBtn {
    list-style-image: url("chrome://yacybar/skin/blacklist.gif");
}

#SearchBtn {
    list-style-image: url("chrome://yacybar/skin/search.gif");
}

#CrawlBtn {
    list-style-image: url("chrome://yacybar/skin/crawl.gif");
}

#CrawlBtn > .toolbarbutton-menubutton-button {
	-moz-box-orient: horizontal;
}

#IndexingControlBtn {
    list-style-image: url("chrome://yacybar/skin/indexing_off.gif");
}
#IndexingControlBtn[checked="true"] {
    list-style-image: url("chrome://yacybar/skin/indexing_on.gif");
}

#IndexingToolbarBtn {
    list-style-image: url("chrome://yacybar/skin/indexing_off.gif");
}
#IndexingToolbarBtn[checked="true"] {
    list-style-image: url("chrome://yacybar/skin/indexing_on.gif");
}

#ProxyToolbarBtn {
    list-style-image: url("chrome://yacybar/skin/proxy_off.gif");
}
#ProxyToolbarBtn[checked="true"] {
    list-style-image: url("chrome://yacybar/skin/proxy_on.gif");
}

#ProxyBtn {
    list-style-image: url("chrome://yacybar/skin/proxy_off.gif");
}
#ProxyBtn[checked="true"] {
    list-style-image: url("chrome://yacybar/skin/proxy_on.gif");
}

treechildren::-moz-tree-cell-text(error){
     font-weight: bold;
     color: red;
}

