#YaCy_toolbar_AboutMenu {
    list-style-image: url("chrome://yacybar/skin/yacy.gif");
}

#YaCy_toolbar_BookmarksButton {
    list-style-image: url("chrome://yacybar/skin/bookmark.png");
} 

#YaCy_toolbar_SurftipsButton {
    list-style-image: url("chrome://yacybar/skin/surftip.png");
} 

#YaCy_toolbar_BlacklistBtn {
    list-style-image: url("chrome://yacybar/skin/blacklist.png");
}

#SearchBtn {
    list-style-image: url("chrome://yacybar/skin/search.png");
}

#YaCy_toolbar_CrawlBtn {
    list-style-image: url("chrome://yacybar/skin/crawl.png");
}

#YaCy_toolbar_CrawlBtn > .toolbarbutton-menubutton-button {
	-moz-box-orient: horizontal;
}

#YaCy_toolbar_IndexingControlBtn {
    list-style-image: url("chrome://yacybar/skin/indexing_off.png");
}
#YaCy_toolbar_IndexingControlBtn[checked="true"] {
    list-style-image: url("chrome://yacybar/skin/indexing_on.png");
}

#YaCy_toolbar_IndexingToolbarBtn {
    list-style-image: url("chrome://yacybar/skin/indexing_off.png");
}
#YaCy_toolbar_IndexingToolbarBtn[checked="true"] {
    list-style-image: url("chrome://yacybar/skin/indexing_on.png");
}

#YaCy_toolbar_ProxyToolbarBtn {
    list-style-image: url("chrome://yacybar/skin/proxy_off.png");
}
#YaCy_toolbar_ProxyToolbarBtn[checked="true"] {
    list-style-image: url("chrome://yacybar/skin/proxy_on.png");
}

#YaCy_toolbar_ProxyBtn {
    list-style-image: url("chrome://yacybar/skin/proxy_off.png");
}
#YaCy_toolbar_ProxyBtn[checked="true"] {
    list-style-image: url("chrome://yacybar/skin/proxy_on.png");
}
menuitem.loading{
	list-style-image: url("chrome://global/skin/icons/loading_16.gif");
}

treechildren::-moz-tree-cell-text(error) {
     font-weight: bold;
     color: red;
}

